# Re-treino automatizado
RETRAIN_DATA_PATH=data/raw/WA_Fn-UseC_-Telco-Customer-Churn.csv
RETRAIN_ARTIFACTS_PATH=models/artifacts
MLFLOW_TRACKING_URI=mlruns

# API de inferência
MODEL_ARTIFACTS_DIR=models/artifacts
